.coin {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: floating 1.2s ease-in forwards;
          animation: floating 1.2s ease-in forwards;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.coin_front,
.coin_back {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #cec8c2;
}

.coin_front {
  background-image: url("./assets/img/coin-head.jpg");
  background-size: cover;
}

.coin_back {
  background-image: url("./assets/img/coin-tail.jpg");
  background-size: cover;
}

.coin_edge div:nth-child(1) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #221e1b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(94.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(94.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(2) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #2b2723;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(99deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(99deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(3) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #342f2a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(103.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(103.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(4) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #3d3731;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(108deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(108deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(5) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #463f38;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(112.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(112.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(6) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #4f473f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(117deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(117deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(7) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #574f46;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(121.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(121.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(8) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #5f564c;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(126deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(126deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(9) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #675d53;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(130.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(130.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(10) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #6e6459;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(135deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(135deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(11) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #766a5f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(139.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(139.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(12) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #7d7164;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(144deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(144deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(13) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #84776a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(148.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(148.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(14) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #8a7d6f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(153deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(153deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(15) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #908275;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(157.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(157.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(16) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #95887b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(162deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(162deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(17) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #998d81;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(166.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(166.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(18) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #9e9286;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(171deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(171deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(19) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a2978b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(175.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(175.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(20) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a69b91;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(180deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(180deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(21) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #aaa095;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(184.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(184.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(22) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #aea49a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(189deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(189deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(23) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b1a89e;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(193.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(193.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(24) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b5aba2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(198deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(198deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(25) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b8afa6;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(202.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(202.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(26) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bbb2aa;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(207deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(207deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(27) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bdb5ad;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(211.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(211.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(28) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c0b8b0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(216deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(216deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(29) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c2bbb3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(220.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(220.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(30) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c4bdb6;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(225deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(225deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(31) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c6bfb8;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(229.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(229.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(32) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c8c1ba;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(234deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(234deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(33) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c9c3bc;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(238.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(238.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(34) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cac4be;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(243deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(243deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(35) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ccc5bf;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(247.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(247.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(36) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ccc6c0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(252deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(252deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(37) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cdc7c1;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(256.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(256.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(38) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cec8c2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(261deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(261deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(39) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cec8c2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(265.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(265.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(40) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cec8c2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(270deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(270deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(41) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cec8c2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(274.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(274.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(42) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cec8c2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(279deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(279deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(43) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cdc7c1;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(283.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(283.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(44) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ccc6c0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(288deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(288deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(45) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #ccc5bf;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(292.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(292.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(46) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #cac4be;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(297deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(297deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(47) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c9c3bc;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(301.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(301.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(48) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c8c1ba;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(306deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(306deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(49) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c6bfb8;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(310.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(310.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(50) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c4bdb6;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(315deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(315deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(51) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c2bbb3;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(319.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(319.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(52) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #c0b8b0;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(324deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(324deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(53) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bdb5ad;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(328.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(328.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(54) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #bbb2aa;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(333deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(333deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(55) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b8afa6;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(337.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(337.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(56) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b5aba2;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(342deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(342deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(57) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #b1a89e;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(346.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(346.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(58) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #aea49a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(351deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(351deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(59) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #aaa095;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(355.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(355.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(60) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a69b91;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(360deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(360deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(61) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #a2978b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(364.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(364.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(62) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #9e9286;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(369deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(369deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(63) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #998d81;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(373.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(373.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(64) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #95887b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(378deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(378deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(65) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #908275;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(382.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(382.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(66) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #8a7d6f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(387deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(387deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(67) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #84776a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(391.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(391.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(68) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #7d7164;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(396deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(396deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(69) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #766a5f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(400.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(400.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(70) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #6e6459;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(405deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(405deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(71) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #675d53;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(409.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(409.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(72) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #5f564c;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(414deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(414deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(73) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #574f46;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(418.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(418.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(74) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #4f473f;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(423deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(423deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(75) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #463f38;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(427.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(427.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(76) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #3d3731;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(432deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(432deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(77) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #342f2a;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(436.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(436.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(78) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #2b2723;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(441deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(441deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(79) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #221e1b;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(445.5deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(445.5deg) translateX(50px) rotateY(90deg);
}

.coin_edge div:nth-child(80) {
  position: absolute;
  height: 3.925px;
  width: 5px;
  background: #181613;
  -webkit-transform: translateY(48.0375px) translateX(47.5px) rotateZ(450deg) translateX(50px) rotateY(90deg);
          transform: translateY(48.0375px) translateX(47.5px) rotateZ(450deg) translateX(50px) rotateY(90deg);
}

.coin_shadow {
  position: relative;
  width: 100px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  -webkit-box-shadow: 0 0 25px 25px #000;
          box-shadow: 0 0 25px 25px #000;
  opacity: 0.125;
  -webkit-transform: rotateX(90deg) translateZ(-110px) scale(0.5);
          transform: rotateX(90deg) translateZ(-110px) scale(0.5);
  -webkit-animation: moveShadow 1.2s ease-in forwards;
          animation: moveShadow 1.2s ease-in forwards;
}

@-webkit-keyframes moveShadow {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 100px;
  }
}

@keyframes moveShadow {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 100px;
  }
}

@-webkit-keyframes floating {
  1% {
    top: 100px;
    left: 0px;
  }
  50% {
    top: -50px;
    left: 25px;
  }
  100% {
    top: 50px;
    left: 50px;
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateZ(180deg) rotateX(840deg);
            transform: perspective(1000px) rotateY(360deg) rotateZ(180deg) rotateX(840deg);
  }
}

@keyframes floating {
  1% {
    top: 100px;
    left: 0px;
  }
  50% {
    top: -50px;
    left: 25px;
  }
  100% {
    top: 50px;
    left: 50px;
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateZ(180deg) rotateX(840deg);
            transform: perspective(1000px) rotateY(360deg) rotateZ(180deg) rotateX(840deg);
  }
}
/*# sourceMappingURL=coin.css.map */